<h2  id="report3">Report #3: Test Case Status by Test Suite</h2>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-1" [data]="chart1Data"></charts-pie-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-2" [data]="chart2Data"></charts-pie-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-3" [data]="chart3Data"></charts-pie-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-4" [data]="chart4Data"></charts-pie-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-5" [data]="chart5Data"></charts-pie-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <charts-pie-chart id="pie-chart-6" [data]="chart6Data"></charts-pie-chart>
  </div>
</div>
