@import "~patternfly/dist/less/variables.less";

.reports {
width: 100%;
  max-width: 972px;
}

.reports-heading {
  background-color: @color-pf-black-900;
  color: white;
  .logo{
  	max-width: 200px;
  }
}

.reports-title {
  line-height: 40px;
}

hr{
	height: 2px;
	background-color: @color-pf-black-300;
}