<header class="reports-header">
      <img src="./assets/Logo_RH_RGB_Reverse.svg" alt="redhat Logo" />
      <h1 class="panel-title reports-title">CI/CD Pipeline</h1>
</header>
<div class="container-fluid container-cards-pf reports">
    <main role="main" class="panel-body">
      <section class="panel-section panel-section--intro">
        <app-pipeline-selection></app-pipeline-selection>
      	<app-intro></app-intro>
      </section>
      <section class="panel-section">
      	<app-pipeline-run-by-stage></app-pipeline-run-by-stage>
      </section>
      <section class="panel-section">
      	<app-test-case-status-by-pipeline-run></app-test-case-status-by-pipeline-run>
      </section>
      <section class="panel-section">
      	<app-test-case-status-by-test-suite></app-test-case-status-by-test-suite>
      </section>
      <section class="panel-section">
      	<app-test-case-status-by-test-suite-based-on-build-package></app-test-case-status-by-test-suite-based-on-build-package>
      </section>
      <section class="panel-section">
      	<app-test-suite-builds-by-time></app-test-suite-builds-by-time>
      </section>
	</main>
</div>
